{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <img src="{% static 'portfolio/personal_photo2.jpg' %}" alt="">
        <div class="personal_info">
            <span>Mike Popov is student on second year of study in KPI. He very interesting in learning something new technologies and
                very like meeting new people
            </span>
        </div>
    </div>
    <div class="portfolio">
        <h3>Portfolio</h3>
        <hr>
        <br>
        <ul>
            {% for project in projects %}
                <li>
                    <div class="card" style="width: 22rem;">
                        <a href="{{ project.url }}">
                            <img src="{{ project.image.url }}" class="card-img-top" style="width: 22rem; height: 223.183px;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description|truncatechars:100 }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}